<!doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  </head>
  <body>
    <h1>Hi,</h1>
    <p>
      I haven't heard from <%= @name %> in a while.
      Perhaps it's down?
    </p>
    <p>
      I'll check on it again tomorrow.
    </p>
    <p>
      Kind regards,
    </p>
    <p>
      The data logger robot.
    </p>
  </body>
</html>
